@charset "UTF-8";
@import url("../css/reset.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean");
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: keep-all;
}

html {
  width: 100%;
}

body {
  font-size: 13px;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-top: 20px;
  color: #666;
  background: #fff;
}

h1, .section-1 .banner a {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
}

b {
  font-weight: 700;
}

.subtitle {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding-bottom: 5px;
  letter-spacing: -0.6px;
}

.subtitle span {
  border-bottom: 1px solid #666;
}

.lead {
  color: #333;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}

.lead b {
  font-weight: 500;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
  top: 0;
  background: #f2f2f2;
}

header .logo {
  display: inline-block;
  text-indent: -9999px;
  width: 150px;
  height: 50px;
  float: left;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 150px 15px;
  background-position: 0 50%;
}

header .open-nav {
  width: 40px;
  height: 50px;
  padding: 16px 0;
  text-indent: -9999px;
  border: none;
  float: right;
  background-image: url("../img/btn_nav.png");
  background-repeat: no-repeat;
  background-size: 21px 18px;
  background-position: 100% 50%;
  background-color: transparent;
}

header .header__sns {
  display: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.view {
  padding-top: 30px;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  overflow-y: hidden;
  height: calc(100vh - 50px);
  padding-left: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8ec43e), to(#2ea7e0));
  background-image: linear-gradient(90deg, #8ec43e 0%, #2ea7e0 100%);
}

.nav-mobile__global {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
}

.nav-mobile__global li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-mobile__global a {
  display: inline-block;
  color: #fff;
  width: 100%;
  padding: 18px 0 18px 10px;
}

.nav-mobile__sns li {
  display: inline-block;
}

.nav-mobile__sns a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 19px;
}

.nav-mobile__sns .nav-mobile__sns--fb {
  background-image: url("../img/btn_fb.png");
}

.nav-mobile__sns .nav-mobile__sns--kakao {
  background-image: url("../img/btn_kakao.png");
}

.nav-sticky {
  display: none;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

section h1, section .section-1 .banner a, .section-1 .banner section a {
  text-align: center;
}

section h2, section .contact-us .contact-us__title, .contact-us section .contact-us__title, section .section-4 .center-info__title, .section-4 section .center-info__title, section .well h5, .well section h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

.part {
  margin-bottom: 30px;
}

.part p {
  line-height: 1.5384615384615;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.section-1 {
  background: #f2f2f2;
}

.section-1 .banner {
  display: inline-block;
  position: relative;
  height: 0;
  padding-left: 15px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.section-1 .banner:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section-1 .banner a {
  display: block;
  padding-top: 20px;
  margin-bottom: 7px;
}

.section-1 .banner a:after {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  margin-top: 12px;
}

.section-1 .banner a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  background-color: transparent;
}

.section-1 .banner a.underbar--blue:after {
  background-color: #2ea7e0;
}

.section-1 .banner a.underbar--green:after {
  background-color: #8ec43e;
}

.section-1 .banner a.underbar--orange:after {
  background-color: #f3993a;
}

.section-1 .banner p {
  font-size: 12px;
}

.section-1 .banner--lg {
  width: 100%;
  padding-bottom: 56.896551724138%;
}

.section-1 .banner--lg p {
  width: 125px;
}

.section-1 .banner--sm {
  width: calc(50% - 5px);
  padding-bottom: 58.928571428571%;
}

.section-1 .banner--sm p {
  width: 102px;
}

.section-1 .banner--1 {
  background-image: url("../img/bg_banner_1.png");
  background-position: 0px -24px;
  background-size: 130%;
}

.section-1 .banner--2 {
  margin-right: 5px;
  background-image: url("../img/bg_banner_2.png");
  background-position: 0px 0px;
  background-size: cover;
}

.section-1 .banner--3 {
  margin-left: 5px;
  background-image: url("../img/bg_banner_3.png");
  background-position: 0px 0px;
  background-size: cover;
}

.section-1 .banner--4 {
  background-image: url("../img/bg_banner_4.png");
  background-position: -51px bottom;
  background-size: 130%;
}

.section-2 h2, .section-2 .contact-us .contact-us__title, .contact-us .section-2 .contact-us__title, .section-2 .section-4 .center-info__title, .section-4 .section-2 .center-info__title, .section-2 .well h5, .well .section-2 h5 {
  color: #2ea7e0;
}

.section-2 .section__2-1 {
  padding-top: 188px;
  background-image: url("../img/bg_section_2_1.png");
  background-repeat: no-repeat;
  background-position: 0px -30px;
  background-size: 302px auto;
  background-position: 50% -40px;
}

.section-2 .section__2-3--chart {
  position: relative;
  height: 0;
  padding-bottom: 113.79310344828%;
  margin-bottom: 20px;
  background-image: url("../img/bg_chart_2_m.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.contact-us .contact-us__title {
  font-weight: 700;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.contact-us .contact-us__list {
  font-size: 12px;
  padding: 0 10px;
  line-height: 1.5;
}

.contact-us .contact-us__list > dt {
  display: inline-block;
  vertical-align: top;
  color: #333;
  font-weight: 700;
  width: 50px;
}

.contact-us .contact-us__list > dd {
  display: inline-block;
  width: calc(100% - 50px);
  margin-bottom: 10px;
}

.contact-us .contact-us__list--nested > dt {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.contact-us .contact-us__list--nested > dd {
  display: inline-block;
  width: calc(100% - 100px);
}

.section-3 {
  background: #f9fcf6;
}

.section-3 h2, .section-3 .contact-us .contact-us__title, .contact-us .section-3 .contact-us__title, .section-3 .section-4 .center-info__title, .section-4 .section-3 .center-info__title, .section-3 .well h5, .well .section-3 h5 {
  color: #8ec43e;
  font-weight: 700;
}

.section-3 .section__3-1--chart {
  position: relative;
  height: 0;
  padding-top: 76.036866359447%;
  margin-bottom: 40px;
  background-image: url("../img/bg_chart_3.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 50% 40px;
}

.section-3 .section__3-2:after {
  content: "";
  display: block;
  padding-bottom: 65.51724137931%;
  height: 0;
  border-radius: 5px;
  background-image: url("../img/bg_section_3_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-4 .center-info {
  margin-top: 28px;
}

.section-4 .center-info__emptystate {
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 3.035px 3.035px 0px 0px rgba(224, 224, 224, 0.4);
          box-shadow: 3.035px 3.035px 0px 0px rgba(224, 224, 224, 0.4);
}

.section-4 .center-info__emptystate p {
  font-size: 16px;
  font-weight: 700;
  color: #666;
  padding: 90px 0 36px 0;
  background-image: url("../img/bg_center_info_emptystate.png");
  background-repeat: no-repeat;
  background-size: 43px;
  background-position: 50% 39px;
}

.section-4 .center-info__list li {
  margin-bottom: 10px;
}

.section-4 .center-info__title {
  position: relative;
  font-weight: 700;
  padding: 15px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  background-color: #fff;
  background-image: url("../img/btn_bg_arrow_gray.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right 10px center;
}

.section-4 .center-info__title a {
  font-size: 16px;
  color: #666;
}

.section-4 .center-info__title a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.section-4 .center-info__title.active {
  background-color: #f5f5f5;
  background-image: url("../img/btn_bg_arrow_orange.png");
}

.section-4 .center-info__title.active a {
  font-size: 16px;
  color: #333;
}

.section-4 .center-info__detail {
  font-size: 12px;
  padding: 0 10px;
  line-height: 1.5;
}

.section-4 .center-info__detail > dt {
  display: inline-block;
  vertical-align: top;
  color: #333;
  font-weight: 700;
  width: 50px;
}

.section-4 .center-info__detail > dd {
  display: inline-block;
  width: calc(100% - 50px);
  margin-bottom: 10px;
}

.section-4 .center-info__detail--nested > dt {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.section-4 .center-info__detail--nested > dd {
  display: inline-block;
  width: calc(100% - 100px);
}

.section-4 .center-info__view {
  display: none;
}

.section-5 .notice-wrap {
  margin-top: 28px;
}

.section-5 .tabs {
  margin-bottom: 20px;
}

.section-5 .tabs li {
  display: inline-block;
  width: 33.33333333%;
  text-align: center;
  border: 1px solid #ccc;
  background: #f5f5f5;
}

.section-5 .tabs li.active {
  border: 1px solid #999;
  border-bottom: none;
  background: #fff;
}

.section-5 .tabs li.active a {
  color: #333;
  font-weight: 700;
}

.section-5 .tabs a {
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  color: #666;
}

.board {
  margin-bottom: 30px;
}

.board__head {
  margin-top: 20px;
  border-top: 2px solid #333;
  padding: 18px 5px;
}

.board__head h1, .board__head .section-1 .banner a, .section-1 .banner .board__head a {
  font-size: 16px;
  line-height: 1.4375;
}

.board__head ul::after {
  content: '';
  display: table;
  clear: both;
}

.board__head li {
  width: 50%;
  float: left;
}

.board__head li img {
  height: 7px;
}

.board__body {
  padding: 18px 5px;
  line-height: 1.5384;
  margin-bottom: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table {
  display: table;
  width: 100%;
}

.table .date {
  width: 75px;
  text-align: center;
}

.table .attachment {
  width: 60px;
  text-align: center;
}

.table .attachment img {
  width: 12px;
}

.table .num {
  display: none;
}

.table a {
  color: #666;
}

.table__head {
  display: table-header-group;
  font-weight: 700;
  text-align: center;
}

.table__head .table__cell {
  color: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.table__cell {
  display: table-cell;
  padding: 15px 5px;
}

.table__body {
  display: table-row-group;
}

.table__body .table__cell {
  border-bottom: 1px solid #ddd;
}

.table__row {
  display: table-row;
}

footer {
  background: #f2f2f2;
  padding: 25px 0;
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__logo li {
  display: inline-block;
}

.footer__logo li .logo__pass {
  width: 138.5px;
  background-image: url("../img/logo.png");
  background-size: 138.5px 14px;
  background-position: 0 50%;
}

.footer__logo li .logo__seoul {
  width: 77.5px;
  background-image: url("../img/logo_seoul.png");
  background-size: 77.5px 19.5px;
  background-position: 0 -16%;
}

.footer__logo li:first-child {
  border-right: 1px solid #ccccbe;
  padding-right: 15px;
}

.footer__logo li:last-child {
  padding-left: 15px;
}

.footer__logo a {
  display: inline-block;
  color: transparent;
  height: 25px;
  background-repeat: no-repeat;
}

.footer__info {
  margin-bottom: 15px;
}

.footer__info li {
  display: inline-block;
  line-height: 1.5;
}

.footer__info li:after {
  content: "|";
  display: inline-block;
  color: #ccc;
  padding: 0 8px;
}

.blocker {
  z-index: 3;
}

.modal {
  z-index: 4;
  width: 100%;
  background-color: #2ea7e0;
  border-radius: 7.5px;
  padding: 5px;
}

.modal h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin: 15px 0 12px 0;
  padding-left: 15px;
}

.modal__inside {
  background-color: #fff;
  border-radius: 7.5px;
  padding: 15px;
}

.modal__inside p {
  margin-bottom: 30px;
  margin-left: 10px;
}

.form-group {
  margin-bottom: 13px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input, .form-group textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 13px;
}

.well, .well .well__inside {
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 10px;
}

.well {
  background-color: #f5f5f5;
  padding: 13px 4px 4px 4px;
  margin-bottom: 25px;
}

.well h5 {
  text-align: center;
}

.well .well__inside {
  background-color: #fff;
  padding: 15px;
}

.well .well__inside p {
  line-height: 1.666666;
  font-size: 12px;
}

.annotation {
  border: 1px solid;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
}

.annotation .annotation__title {
  font-weight: 700;
  padding-left: 18px;
  height: 15px;
  margin-bottom: 10px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left center;
}

.annotation--green {
  border-color: #8ec43e;
}

.annotation--green .annotation__title {
  color: #8ec43e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='36px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(142, 196, 62)' stroke-width='4px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(255, 255, 255)' d='M17.000,2.000 C25.284,2.000 32.000,8.715 32.000,17.000 C32.000,25.284 25.284,32.000 17.000,32.000 C8.716,32.000 2.000,25.284 2.000,17.000 C2.000,8.715 8.716,2.000 17.000,2.000 Z'/%3E%3C/svg%3E");
}

.btn-group {
  text-align: center;
}

.btn {
  display: inline-block;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  padding-top: 11px;
  padding-right: 35px;
  padding-bottom: 11px;
  padding-left: 35px;
  font-weight: 700;
  font-size: 18px;
}

.btn--rounded {
  border-radius: 999px;
}

.btn--blue {
  background-color: #2ea7e0;
}

.btn--orange {
  background-color: #f3993a;
}

.btn[class*=btn--icon--] {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 14px 50%;
  padding-left: 57px;
}

.btn--icon--arrow {
  background-image: url("../img/btn_bg_arrow.png");
}

.btn--icon--plus {
  background-image: url("../img/btn_bg_plus.png");
}

.cta__btn {
  margin-top: 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hidden-xs {
  display: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.color-blue {
  color: #2ea7e0;
}

@media (min-width: 576px) {
  body {
    font-size: 16px;
    padding-top: 0;
  }
  h1, .section-1 .banner a {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .subtitle {
    font-size: 16px;
    padding-bottom: 6px;
  }
  .lead {
    line-height: 1.666666 !important;
    font-size: 24px;
  }
  header {
    height: 90px;
    position: relative;
  }
  header .logo {
    width: 258px;
    height: 90px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: 258px 27px;
    background-position: 0 50%;
  }
  header .open-nav {
    display: none;
  }
  header .header__sns {
    display: inline-block;
    padding: 25px 0;
    float: right;
  }
  header .header__sns li {
    display: inline-block;
    margin-left: 10px;
  }
  header .header__sns a {
    background-repeat: no-repeat;
    background-size: auto 19px;
    background-position: 50% 50%;
  }
  header .header__sns--fb {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #324ca3;
    text-indent: -9999px;
    background-image: url("../img/btn_fb.png");
  }
  header .header__sns--kakao {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3c1e1e;
    text-indent: -9999px;
    background-image: url("../img/btn_kakao.png");
  }
  .nav-sticky {
    display: block;
    z-index: 5;
    width: 100%;
    height: 60px;
    background-image: -webkit-gradient(linear, left top, right top, from(#8ec43e), to(#2ea7e0));
    background-image: linear-gradient(90deg, #8ec43e 0%, #2ea7e0 100%);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  }
  .nav-sticky .container::after {
    content: '';
    display: table;
    clear: both;
  }
  .nav-sticky .logo {
    float: left;
    text-indent: -9999px;
    width: 65px;
    height: 60px;
    margin-right: 115px;
    background-image: url("../img/logo_white.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  .sticky {
    position: fixed;
    top: 0;
  }
  .nav-sticky__global {
    float: left;
  }
  .nav-sticky__global::after {
    content: '';
    display: table;
    clear: both;
  }
  .nav-sticky__global li {
    float: left;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1px' height='20px'%3E%3Cpath fill-rule='evenodd' opacity='0.502' fill='rgb(255, 255, 255)' d='M0.000,0.000 L1.000,0.000 L1.000,20.000 L0.000,20.000 L0.000,0.000 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }
  .nav-sticky__global li:last-child {
    background: none;
  }
  .nav-sticky__global a {
    display: inline-block;
    color: #fff;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 700;
  }
  .nav-sticky__sns {
    float: right;
  }
  .nav-sticky__sns li {
    display: inline-block;
  }
  .nav-sticky__sns a {
    display: inline-block;
    text-indent: -9999px;
    width: 40px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 19px;
  }
  .nav-sticky__sns .nav-sticky__sns--fb {
    background-image: url("../img/btn_fb.png");
  }
  .nav-sticky__sns .nav-sticky__sns--kakao {
    background-image: url("../img/btn_kakao.png");
  }
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  section h2, section .contact-us .contact-us__title, .contact-us section .contact-us__title, section .section-4 .center-info__title, .section-4 section .center-info__title, section .well h5, .well section h5 {
    font-size: 24px;
    margin-bottom: 38px;
  }
  .part {
    margin-bottom: 60px;
  }
  .part p {
    line-height: 1.875;
    margin-bottom: 20px;
  }
  .section-1 {
    padding-top: 0;
  }
  .section-1 .section-1__banner::after {
    content: '';
    display: table;
    clear: both;
  }
  .section-1 .banner {
    height: 300px;
    padding-left: 30px;
    margin-bottom: 20px;
    float: left;
  }
  .section-1 .banner a {
    padding-top: 38px;
  }
  .section-1 .banner a:after {
    width: 16px;
    height: 4px;
    margin-top: 24px;
  }
  .section-1 .banner p {
    font-size: 16px;
    line-height: 1.6;
    width: 222px;
  }
  .section-1 .banner--lg {
    width: 640px;
    padding-bottom: 0;
  }
  .section-1 .banner--sm {
    width: 280px;
    padding-bottom: 0;
  }
  .section-1 .banner--1 {
    background-position: 0 -90px;
  }
  .section-1 .banner--1, .section-1 .banner--3 {
    margin-right: 20px;
  }
  .section-1 .banner--2, .section-1 .banner--3 {
    margin-left: 0;
  }
  .section-1 .banner--2 {
    margin-right: 0;
  }
  .section-2 .section__2-1 {
    padding-top: 0;
    padding-left: 500px;
    margin-top: 70px;
    background-position: 0px -30px;
    background-size: 510px auto;
    background-position: -25px 0;
  }
  .section-2 .section__2-2 {
    float: left;
    width: 400px;
    margin-right: 70px;
  }
  .section-2 .section__2-2--chart {
    float: left;
    width: 465px;
  }
  .section-2 .section__2-3 {
    clear: both;
  }
  .section-2 .section__2-3 p {
    width: 820px;
    margin: 0 auto;
  }
  .section-2 .section__2-3--chart {
    height: 530px;
    padding-bottom: 0;
    margin-bottom: 40px;
    background-image: url("../img/bg_chart_2.png");
  }
  .contact-us::after {
    content: '';
    display: table;
    clear: both;
  }
  .contact-us .contact-us__info {
    width: 440px;
    float: left;
  }
  .contact-us .contact-us__title {
    padding: 18px 0;
    margin-bottom: 18px !important;
  }
  .contact-us .contact-us__list {
    font-size: 14px;
    padding: 0 20px;
    line-height: 1.85;
  }
  .contact-us .contact-us__list > dt {
    width: 80px;
  }
  .contact-us .contact-us__list > dd {
    width: calc(100% - 80px);
    margin-bottom: 16px;
  }
  .contact-us .contact-us__list--nested > dt {
    width: 75px;
  }
  .contact-us .contact-us__map {
    float: right;
    width: 460px;
    height: 200px;
    margin-top: 18px;
    border-radius: 5px;
  }
  .section-3 .section__3-1 {
    margin-top: 70px;
  }
  .section-3 .section__3-1--chart {
    float: left;
    width: 500px;
    height: 330px;
    padding-top: 0;
    margin-bottom: 60px;
    background-size: 434px;
    background-position: 50% 50%;
  }
  .section-3 .caption {
    padding-top: 350px;
  }
  .section-3 .section__3-1--text {
    float: left;
    width: 400px;
    margin-bottom: 60px;
  }
  .section-3 .annotation {
    clear: both;
  }
  .section-3 .section__3-2 {
    position: relative;
  }
  .section-3 .section__3-2 p {
    width: 380px;
  }
  .section-3 .section__3-2:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
  }
  .section-3 .section__3-3 {
    padding-left: 440px;
    height: 367px;
    padding-top: 20px;
    background-image: url("../img/bg_section_3_3.png");
    background-repeat: no-repeat;
    background-position: 30px 0;
  }
  .section-4 .center-info {
    margin-top: 45px;
  }
  .section-4 .center-info::after {
    content: '';
    display: table;
    clear: both;
  }
  .section-4 .center-info__emptystate p {
    font-size: 24px;
    padding: 188px 0 85px 0;
    background-size: 88px;
    background-position: 50% 83px;
  }
  .section-4 .center-info__list {
    width: 460px;
    float: left;
    padding-right: 20px;
    height: 700px;
    overflow-y: auto;
  }
  .section-4 .center-info__title {
    padding: 20px;
    background-size: 20px;
    background-position: right 20px center;
  }
  .section-4 .center-info__title a {
    font-size: 20px;
  }
  .section-4 .center-info__title.active a {
    font-size: 20px;
  }
  .section-4 .center-info__detail {
    font-size: 14px;
    padding: 0 20px;
    line-height: 1.85;
  }
  .section-4 .center-info__detail > dt {
    width: 80px;
  }
  .section-4 .center-info__detail > dd {
    width: calc(100% - 80px);
    margin-bottom: 20px;
  }
  .section-4 .center-info__detail--nested > dt {
    width: 75px;
  }
  .section-4 .center-info__view {
    display: block;
    float: right;
    width: 480px;
    height: 700px;
    overflow-y: auto;
    padding-left: 19px;
    border-left: 1px dotted #ccc;
  }
  .section-4 .center-info__view h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
  }
  .section-4 .center-info__view dl {
    font-size: 14px;
    line-height: 1.857;
  }
  .section-4 .center-info__view dt {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    color: #333;
    font-weight: 700;
  }
  .section-4 .center-info__view dd {
    display: inline-block;
    width: 380px;
    margin-bottom: 20px;
  }
  .section-4 .center-info__map {
    border-radius: 5px;
    width: 460px;
    height: 340px;
    margin-bottom: 40px;
  }
  .section-5 .tabs a {
    padding: 16px 0;
    font-size: 16px;
  }
  .container {
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .view {
    padding-top: 60px;
  }
  .board {
    margin-bottom: 40px;
  }
  .board__head {
    margin-top: 30px;
    padding: 20px 20px 15px 20px;
  }
  .board__head h1, .board__head .section-1 .banner a, .section-1 .banner .board__head a {
    font-size: 26px;
    line-height: 1.5384;
  }
  .board__head li {
    float: right;
    width: auto;
    margin-left: 40px;
    font-size: 14px;
  }
  .board__head li:first-child {
    float: left;
    margin-left: 0;
  }
  .board__body {
    padding: 15px 20px;
  }
  .table .num {
    display: table-cell;
    width: 80px;
    text-align: center;
  }
  .table .date {
    width: 110px;
  }
  .table .attachment {
    width: 95px;
  }
  footer {
    padding: 40px 0;
    font-size: 14px;
  }
  .footer__logo li .logo__pass {
    width: 198px;
    background-size: 198px 21px;
  }
  .footer__logo li .logo__seoul {
    width: 111px;
    background-size: 111px 29px;
    background-position: 0 0;
  }
  .footer__logo a {
    height: 40px;
  }
  .modal {
    max-width: 640px;
    border-radius: 20px;
  }
  .modal h3 {
    font-size: 24px;
    margin: 25px 0 15px 0;
    padding-left: 25px;
  }
  .modal__inside {
    border-radius: 20px;
    padding: 25px;
  }
  .modal__inside p {
    font-size: 14px;
    line-height: 1.875;
  }
  .well h5 {
    margin-bottom: 18px !important;
  }
  .well .well__inside {
    padding: 30px;
  }
  .well .well__inside p {
    line-height: 1.87;
    font-size: 16px;
  }
  .well .well__for-cta::after {
    content: '';
    display: table;
    clear: both;
  }
  .well .well__for-cta .cta__text {
    float: left;
  }
  .well .well__for-cta .btn-group {
    float: right;
  }
  .annotation {
    padding: 20px 30px 10px 30px;
    font-size: 14px;
  }
  .annotation .annotation__title {
    padding-left: 26px;
    font-size: 16px;
    height: 20px;
    background-size: 20px;
  }
  .annotation--green .annotation__title {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26px' height='26px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(142, 196, 62)' stroke-width='4px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(255, 255, 255)' d='M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z'/%3E%3C/svg%3E");
  }
  .clearfix::after {
    content: '';
    display: table;
    clear: both;
  }
  .hidden-xs {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */