@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean');

$bg_default: #fff;
$bg_gray: #f2f2f2;
$bg_green: #f9fcf6;
$green: #8ec43e;
$blue: #2ea7e0;
$orange: #f3993a;
$darkgray: #333;
$lightgray: #666;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700; 

$font_size: 13px;
$font_size_pc: 16px;
$font_family:
  // 웹사이트 디자인
  "Noto Sans KR",
  // macOS, iOS용 사파리 (San Francisco)
  -apple-system,
  // macOS용 크롬 56~ (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "맑은 고딕", "Malgun Gothic", "Segoe UI",
  // Android
  "Roboto",
  // 기존 웹 폴백
  "Helvetica Neue", Arial, sans-serif,
  // 에모지
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// mixin
@mixin btn--circle($size: 40px, $color: transparent) {
  display: inline-block;
  width: $size;
  height: $size;
  border-radius: 50%;
  background: {
    color: $color;
  }
}
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// 초기 설정
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-break: keep-all;
}
html {
  width: 100%;
}
body {
  font: {
    size: $font_size;
    family: $font_family;
  }
  padding-top: 20px;
  color: $lightgray;
  background: $bg_default;
}

// 타이포그래피
h1 {
  font: {
    size: 20px;
    weight: $bold;
  }
  color: $darkgray;
  margin-bottom: 12px;
}
a {
  text-decoration: none;
}
b {
  font-weight: $bold;
}
.subtitle {
  text-align: center;
  font-size: 12px;
  color: $lightgray;
  padding-bottom: 5px;
  letter-spacing: -0.6px;
  span {
    border-bottom: 1px solid $lightgray;
  }
}
.lead {
  color: $darkgray;
  margin-bottom: 20px;
  font: {
    size: 16px;
    weight: $light;
  }
  b {
    font-weight: $medium;
  }
}

// 헤더
header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
  top: 0;
  background: $bg_gray;

  .logo {
    display: inline-block;
    text-indent: -9999px;
    width: 150px;
    height: 50px;
    float: left;
    background: {
      image: url("../img/logo.png");
      repeat: no-repeat;
      size: 150px 15px;
      position: 0 50%;
    }
  }
  .open-nav {
    width: 40px;
    height: 50px;
    padding: 16px 0;
    text-indent: -9999px;
    border: none;
    float: right;
    background: {
      image: url("../img/btn_nav.png");
      repeat: no-repeat;
      size: 21px 18px;
      position: 100% 50%;
      color: transparent;
    }
  }
  .header__sns {
    display: none;
  }
}

// 컨테이너
.container {
  width: 100%;
  padding: {
    left: 15px;
    right: 15px;
  }
}
.view {
  padding-top: 30px;
}

// 네비게이션 
.nav-mobile {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  overflow-y: hidden;
  height: calc(100vh - 50px);
  padding-left: 15px;
  background-image: -moz-linear-gradient( 90deg, rgb(142,196,62) 0%, rgb(46,167,224) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(142,196,62) 0%, rgb(46,167,224) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(142,196,62) 0%, rgb(46,167,224) 100%);
  background-image: linear-gradient( 90deg, rgb(142,196,62) 0%, rgb(46,167,224) 100%);
}
.nav-mobile__global {
  margin-bottom: 14px;
  font: {
    size: 16px;
    weight: $bold;
  }
  li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  a {
    display: inline-block;
    color: #fff;
    width: 100%;
    padding: 18px 0 18px 10px;
  }
}
.nav-mobile__sns {
  li {
    display: inline-block;
  }
  a {
    @include btn--circle(40px, transparent);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-indent: -9999px;
    background: {
      repeat: no-repeat;
      position: 50% 50%;
      size: auto 19px;
    }
  }
  .nav-mobile__sns--fb {
    background: {
      image: url("../img/btn_fb.png");
    }
  }
  .nav-mobile__sns--kakao {
    background: {
      image: url("../img/btn_kakao.png");
    }
  }
}
.nav-sticky {
  display: none;
}

// 섹션
section {
  padding: {
    top: 30px;
    bottom: 30px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.part {
  margin-bottom: 30px;
  p {
    line-height: 1.5384615384615;
    letter-spacing: -1px;
    margin-bottom: 10px;
  }
}
.section-1 {
  background: $bg_gray;
  .banner {
    display: inline-block;
    position: relative;
    height: 0;
    padding-left: 15px;
    margin-bottom: 10px;
    background: {
      repeat: no-repeat;
    }
    border: {
      radius: 5px;
    }
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    a {
      @extend h1;
      display: block;
      padding-top: 20px;
      margin-bottom: 7px;
    }
    a:after {
      content: "";
      display: block;
      width: 8px;
      height: 2px;
      margin-top: 12px;
    }
    a:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      pointer-events: auto;
      background-color: transparent;
    }
    a.underbar--blue:after {
      background-color: $blue;
    }
    a.underbar--green:after {
      background-color: $green;
    }
    a.underbar--orange:after {
      background-color: $orange;
    }
    p {
      font-size: 12px;
    }
  }
  .banner--lg {
    width: 100%;
    padding-bottom: 56.896551724138%;
    p {
      width: 125px;
    }
  }
  .banner--sm {
    width: calc(50% - 5px);
    padding-bottom: 58.928571428571%;
    p {
      width: 102px;
    }
  }
  .banner--1 {
    background: {
      image: url("../img/bg_banner_1.png");
      position: 0px -24px;
      size: 130%;
    }
  }
  .banner--2 {
    margin-right: 5px;
    background: {
      image: url("../img/bg_banner_2.png");
      position: 0px 0px;
      size: cover;
    }
  }
  .banner--3 {
    margin-left: 5px;
    background: {
      image: url("../img/bg_banner_3.png");
      position: 0px 0px;
      size: cover;
    }
  }
  .banner--4 {
    background: {
      image: url("../img/bg_banner_4.png");
      position: -51px bottom;
      size: 130%;
    }
  }
}
.section-2 {
  h2 {
    color: $blue;
  }
  .section__2-1 {
    padding-top: 188px;
    background: {
      image: url("../img/bg_section_2_1.png");
      repeat: no-repeat;
      position: 0px -30px;
      size: 302px auto;
      position: 50% -40px;
    }
  }
  .section__2-3--chart {
    position: relative;
    height: 0;
    padding-bottom: 113.79310344828%;
    margin-bottom: 20px;
    background: {
      image: url("../img/bg_chart_2_m.png");
      repeat: no-repeat;
      size: 100%;
    }
  }
}
.contact-us {
  .contact-us__title {
    @extend h2;
    font-weight: $bold;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
  }
  .contact-us__list {
    font-size: 12px;
    padding: 0 10px;
    line-height: 1.5;
  }
  .contact-us__list > dt {
    display: inline-block;
    vertical-align: top;
    color: $darkgray;
    font-weight: $bold;
    width: 50px;
  }
  .contact-us__list > dd {
    display: inline-block;
    width: calc(100% - 50px);
    margin-bottom: 10px;
  }
  .contact-us__list--nested > dt {
    display: inline-block;
    width: 50px;
    vertical-align: top;
  }
  .contact-us__list--nested > dd {
    display: inline-block;
    width: calc(100% - 100px);
  }
}
.section-3 {
  h2 {
    color: $green;
    font-weight: $bold;
  }
  background: $bg_green;
  .section__3-1--chart {
    position: relative;
    height: 0;
    padding-top: 76.036866359447%;
    margin-bottom: 40px;
    background: {
      image: url("../img/bg_chart_3.png");
      repeat: no-repeat;
      size: 75%;
      position: 50% 40px;
    }
  }
  .section__3-2:after {
    content: "";
    display: block;
    padding-bottom: 65.51724137931%;
    height: 0;
    border-radius: 5px;
    background: {
      image: url("../img/bg_section_3_2.png");
      repeat: no-repeat;
      size: 100%;
    }
  }
}
.section-4 {
  .center-info {
    margin-top: 28px;
  }
  .center-info__emptystate {
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 3.035px 3.035px 0px 0px rgba(224, 224, 224, 0.4);
    p {
      font: {
        size: 16px;
        weight: $bold;
      }
      color: $lightgray;
      padding: 90px 0 36px 0;
      background: {
        image: url("../img/bg_center_info_emptystate.png");
        repeat: no-repeat;
        size: 43px;
        position: 50% 39px;
      }
    }
  }
  .center-info__list li {
    margin-bottom: 10px;
  }
  .center-info__title {
    @extend h2;
    position: relative;
    font-weight: $bold;
    padding: 15px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    background: {
      color: #fff;
      image: url("../img/btn_bg_arrow_gray.png");
      repeat: no-repeat;
      size: 15px;
      position: right 10px center;
    }
    a {
      font-size: 16px;
      color: $lightgray;
    }
    a:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .center-info__title.active {
    background: {
      color: #f5f5f5;
      image: url("../img/btn_bg_arrow_orange.png");
    }
    a {
      font-size: 16px;
      color: $darkgray;
    }
  }
  .center-info__detail {
    font-size: 12px;
    padding: 0 10px;
    line-height: 1.5;
  }
  .center-info__detail > dt {
    display: inline-block;
    vertical-align: top;
    color: $darkgray;
    font-weight: $bold;
    width: 50px;
  }
  .center-info__detail > dd {
    display: inline-block;
    width: calc(100% - 50px);
    margin-bottom: 10px;
  }
  .center-info__detail--nested > dt {
    display: inline-block;
    width: 50px;
    vertical-align: top;
  }
  .center-info__detail--nested > dd {
    display: inline-block;
    width: calc(100% - 100px);
  }
  .center-info__view {
    display: none;
  }
}
.section-5 {
  .notice-wrap {
    margin-top: 28px;
  }
  .tabs {
    margin-bottom: 20px;
    li {
      display: inline-block;
      width: 33.33333333%;
      text-align: center;
      border: 1px solid #ccc;
      background: #f5f5f5;
    }
    li.active {
      border: 1px solid #999;
      border-bottom: none;
      background: #fff;
    }
    li.active a {
      color: $darkgray;
      font-weight: $bold;
    }
    a {
      display: inline-block;
      width: 100%;
      padding: 12px 0;
      color: $lightgray;
    }
  }
}
// 게시판
.board {
  margin-bottom: 30px;
}
.board__head {
  margin-top: 20px;
  border-top: 2px solid $darkgray;
  padding: 18px 5px;
  h1 {
    font: {
      size: 16px;
    }
    line-height: 1.4375;
  }
  ul {
    @include clearfix;
  }
  li {
    width: 50%;
    float: left;
    img {
      height: 7px;
    }
  }
}
.board__body {
  padding: 18px 5px;
  line-height: 1.5384;
  margin-bottom: 30px;
  border: {
    top: 1px solid #ddd;
    bottom: 1px solid #ddd;
  }
}

.table {
  display: table;
  width: 100%;
  .date {
    width: 75px;
    text-align: center;
  }
  .attachment {
    width: 60px;
    text-align: center;
    img {
      width: 12px;
    }
  }
  .num {
    display: none;
  }
  a {
    color: $lightgray;
  }
}
.table__head {
  display: table-header-group;
  font: {
    weight: $bold;
  }
  text-align: center;
  .table__cell {
    color: $darkgray;
    border: {
      top: 2px solid $darkgray;
      bottom: 2px solid $darkgray;
    }
  }
}
.table__cell {
  display: table-cell;
  padding: 15px 5px;
}
.table__body {
  display: table-row-group;
  .table__cell {
    border-bottom: 1px solid #ddd;
  }
}
.table__row {
  display: table-row;
}

// 푸터 
footer {
  background: $bg_gray;
  padding: 25px 0;
}
.footer__logo {
  margin-bottom: 25px;
  li {
    display: inline-block;
    .logo__pass {
      width: 138.5px;
      background: {
        image: url("../img/logo.png");
        size: 138.5px 14px;
        position: 0 50%;
      }
    }
    .logo__seoul {
      width: 77.5px;
      background: {
        image: url("../img/logo_seoul.png");
        size: 77.5px 19.5px;
        position: 0 -16%;
      }
    }
    &:first-child {
      border-right: 1px solid #ccccbe;
      padding-right: 15px;
    }
    &:last-child {
      padding-left: 15px;
    }
  }
  a {
    display: inline-block;
    color: transparent;
    height: 25px;
    background: {
      repeat: no-repeat;
    }
  }
}
.footer__info {
  margin-bottom: 15px;
  li {
    display: inline-block;
    line-height: 1.5;
  }
  li:after {
    content: "|";
    display: inline-block;
    color: #ccc;
    padding: 0 8px;
  }
}

// 모달
.blocker {
  z-index: 3;
}
.modal {
  z-index: 4;
  width: 100%;
  background-color: $blue;
  border-radius: 7.5px;
  padding: 5px;

  h3 {
    font: {
      size: 16px;
      weight: $bold;
    }
    color: #fff;
    margin: 15px 0 12px 0;
    padding-left: 15px;
  }
}
.modal__inside {
  background-color: #fff;
  border-radius: 7.5px;
  padding: 15px;
  p {
    margin-bottom: 30px;
    margin-left: 10px;
  }
}

// 컴포넌트 (form)
.form-group {
  margin-bottom: 13px;
  label {
    display: block;
    margin-bottom: 8px;
  }
  input, textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px 10px;
    font: {
      size: 13px;
    }
  }
}
// 컴포넌트 (well)
%well-border {
  border: {
    width: 1px;
    color: #ddd;
    style: solid;
    radius: 10px;
  }
}
.well {
  @extend %well-border;
  background-color: #f5f5f5;
  padding: 13px 4px 4px 4px;
  margin-bottom: 25px;
  h5 {
    @extend h2;
    text-align: center;
  }
  .well__inside {
    @extend %well-border;
    background-color: #fff;
    padding: 15px;
    
    p {
      line-height: 1.666666;
      font-size: 12px;
    }
  }
}

// 컴포넌트 (주석)
.annotation {
  border: 1px solid;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  .annotation__title {
    font-weight: $bold;
    padding-left: 18px;
    height: 15px;
    margin-bottom: 10px;
    background: {
      size: 15px;
      repeat: no-repeat;
      position: left center;
    }
  }
}
.annotation--green {
  border-color: $green;
  .annotation__title {
    color: $green;
    background: {
      image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='36px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(142, 196, 62)' stroke-width='4px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(255, 255, 255)' d='M17.000,2.000 C25.284,2.000 32.000,8.715 32.000,17.000 C32.000,25.284 25.284,32.000 17.000,32.000 C8.716,32.000 2.000,25.284 2.000,17.000 C2.000,8.715 8.716,2.000 17.000,2.000 Z'/%3E%3C/svg%3E");
    }
  }
}

// 컴포넌트 (btn)
.btn-group {
  text-align: center;
}
.btn {
  display: inline-block;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: {
    top: 11px;
    right: 35px;
    bottom: 11px;
    left: 35px;
  }
  font: {
    weight: $bold;
    size: 18px;
  }
}
.btn--rounded {
  border-radius: 999px;
}
.btn--blue {
  background-color: $blue;
}
.btn--orange {
  background-color: $orange;
}
.btn[class*=btn--icon--] {
  background: {
    repeat: no-repeat;
    size: 20px;
    position: 14px 50%;
  }
  padding: {
    left: 57px;
  }  
}
.btn--icon--arrow {
  background: {
    image: url("../img/btn_bg_arrow.png");
  }
}
.btn--icon--plus {
  background: {
    image: url("../img/btn_bg_plus.png");
  }
}

// 컴포넌트(cta)
.cta__btn {
  margin-top: 15px;
}

// 유틸리티
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.hidden-xs {
  display: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
.color-blue {
  color: $blue;
}


@media (min-width: 576px) {
  //초기 설정
  body {
    font: {
      size: $font_size_pc;
    }
    padding-top: 0;
  }

  // 타이포그래피
  h1 {
    font: {
      size: 36px;
    }
    margin-bottom: 16px;
  }
  .subtitle {
    font-size: 16px;
    padding-bottom: 6px;
  }
  .lead {
    line-height: 1.666666 !important;
    font: {
      size: 24px;
    }
  }

  // 헤더
  header {
    height: 90px;
    position: relative;

    .logo {
      width: 258px;
      height: 90px;
      background: {
        image: url("../img/logo.png");
        repeat: no-repeat;
        size: 258px 27px;
        position: 0 50%;
      }
    }
    .open-nav {
      display: none;
    }
    .header__sns {
      display: inline-block;
      padding: 25px 0;
      float: right;
      li {
        display: inline-block;
        margin-left: 10px;
      }
      a {
        background: {
          repeat: no-repeat;
          size: auto 19px;
          position: 50% 50%;
        }
      }
    }
    .header__sns--fb {
      @include btn--circle(40px, #324ca3);
      text-indent: -9999px;
      background: {
        image: url("../img/btn_fb.png");
      }
    }
    .header__sns--kakao {
      @include btn--circle(40px, #3c1e1e);
      text-indent: -9999px;
      background: {
        image: url("../img/btn_kakao.png");
      }
    }
  }

  // 스티키 네비게이션
  .nav-sticky {
    display: block;
    z-index: 5;
    width: 100%;
    height: 60px;
    background-image: -moz-linear-gradient( 90deg, rgb(142,196,62) 0%, rgb(46,167,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(142,196,62) 0%, rgb(46,167,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(142,196,62) 0%, rgb(46,167,224) 100%);
    background-image: linear-gradient( 90deg, rgb(142,196,62) 0%, rgb(46,167,224) 100%);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
    .container {
      @include clearfix;
    }
    .logo {
      float: left;
      text-indent: -9999px;
      width: 65px;
      height: 60px;
      margin-right: 115px;
      background: {
        image: url("../img/logo_white.png");
        repeat: no-repeat;
        position: 0 50%;
      }
    }
  }
  .sticky {
    position:fixed;
    top:0;
  }
  .nav-sticky__global {
    @include clearfix;
    float: left;
    li {
      float: left;
      background: {
        image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1px' height='20px'%3E%3Cpath fill-rule='evenodd' opacity='0.502' fill='rgb(255, 255, 255)' d='M0.000,0.000 L1.000,0.000 L1.000,20.000 L0.000,20.000 L0.000,0.000 Z'/%3E%3C/svg%3E");
        repeat: no-repeat;
        position: 100% 50%;
      }
      &:last-child {
        background: none;
      }
    }
    a {
      display: inline-block;
      color: #fff;
      padding: 20px 30px;
      font: {
        size: 18px;
        weight: $bold;
      }
    }
  }
  .nav-sticky__sns {
    float: right;
    li {
      display: inline-block;
    }
    a {
      display: inline-block;
      text-indent: -9999px;
      width: 40px;
      height: 60px;
      background: {
        repeat: no-repeat;
        position: 50% 50%;
        size: auto 19px;
      }
    }
    .nav-sticky__sns--fb {
      background: {
        image: url("../img/btn_fb.png");
      }
    }
    .nav-sticky__sns--kakao {
      background: {
        image: url("../img/btn_kakao.png");
      }
    }
  }

  // 섹션
  section {
    padding: {
      top: 60px;
      bottom: 60px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 38px;
    }
  }
  .part {
    margin-bottom: 60px;
    p {
      line-height: 1.875;
      margin-bottom: 20px;
    }
  }
  .section-1 {
    padding-top: 0;
    .section-1__banner {
      @include clearfix;
    }
    .banner {
      height: 300px;
      padding-left: 30px;
      margin-bottom: 20px;
      float: left;
      a {
        padding-top: 38px;
      }
      a:after {
        width: 16px;
        height: 4px;
        margin-top: 24px;
      }
      p {
        font-size: 16px;
        line-height: 1.6;
        width: 222px;
      }
    }
    .banner--lg {
      width: 640px;
      padding-bottom: 0;
    }
    .banner--sm {
      width: 280px;
      padding-bottom: 0;
    }
    .banner--1 {
      background: {
        position: 0 -90px;
      }
    }
    .banner--1, .banner--3 {
      margin-right: 20px;
    }
    .banner--2, .banner--3 {
      margin-left: 0;
    }
    .banner--2 {
      margin-right: 0;
    }
  }
  .section-2 {
    .section__2-1 {
      padding-top: 0;
      padding-left: 500px;
      margin-top: 70px;
      background: {
        position: 0px -30px;
        size: 510px auto;
        position: -25px 0;
      }
    }
    .section__2-2 {
      float: left;
      width: 400px;
      margin-right: 70px;
    }
    .section__2-2--chart {
      float: left;
      width: 465px;
    }
    .section__2-3 {
      clear: both;
      p {
        width: 820px;
        margin: 0 auto;
      }
    }
    .section__2-3--chart {
      height: 530px;
      padding-bottom: 0;
      margin-bottom: 40px;
      background: {
        image: url("../img/bg_chart_2.png");
      }
    }
  }
  .contact-us {
    @include clearfix;
    .contact-us__info {
      width: 440px;
      float: left;
    }
    .contact-us__title {
      padding: 18px 0;
      margin-bottom: 18px !important;
    }
    .contact-us__list {
      font-size: 14px;
      padding: 0 20px;
      line-height: 1.85;
    }
    .contact-us__list > dt {
      width: 80px;
    }
    .contact-us__list > dd {
      width: calc(100% - 80px);
      margin-bottom: 16px;
    }
    .contact-us__list--nested > dt {
      width: 75px;
    }
    .contact-us__map {
      float: right;
      width: 460px;
      height: 200px;
      margin-top: 18px;
      border-radius: 5px;
    }
  }
  .section-3 {
    .section__3-1 {
      margin-top: 70px;
    }
    .section__3-1--chart {
      float: left;
      width: 500px;
      height: 330px;
      padding-top: 0;
      margin-bottom: 60px;
      background: {
        size: 434px;
        position: 50% 50%;
      }
    }
    .caption {
      padding-top: 350px;
    }
    .section__3-1--text {
      float: left;
      width: 400px;
      margin-bottom: 60px;
    }
    .annotation {
      clear: both;
    }
    .section__3-2 {
      position: relative;
      p {
        width: 380px;
      }
    }
    .section__3-2:after {
      position: absolute;
      right: 0;
      top: 0;
      width: 500px;
    }
    .section__3-3 {
      padding-left: 440px;
      height: 367px;
      padding-top: 20px;
      background: {
        image: url("../img/bg_section_3_3.png");
        repeat: no-repeat;
        position: 30px 0;
      }
    }
  }
  .section-4 {
    .center-info {
      @include clearfix;
      margin-top: 45px;
    }
    .center-info__emptystate {
      p {
        font: {
          size: 24px;
        }
        padding: 188px 0 85px 0;
        background: {
          size: 88px;
          position: 50% 83px;
        }
      }
    }
    .center-info__list {
      width: 460px;
      float: left;
      padding-right: 20px;
      height: 700px;
      overflow-y: auto;
    }
    .center-info__title {
      padding: 20px;
      background: {
        size: 20px;
        position: right 20px center;
      }
      a {
        font-size: 20px;
      }
    }
    .center-info__title.active {
      a {
        font-size: 20px;
      }
    }
    .center-info__detail {
      font-size: 14px;
      padding: 0 20px;
      line-height: 1.85;
    }
    .center-info__detail > dt {
      width: 80px;
    }
    .center-info__detail > dd {
      width: calc(100% - 80px);
      margin-bottom: 20px;
    }
    .center-info__detail--nested > dt {
      width: 75px;
    }
    .center-info__view {
      display: block;
      float: right;
      width: 480px;
      height: 700px;
      overflow-y: auto;
      padding-left: 19px;
      border-left: 1px dotted #ccc;
      h3 {
        font: {
          size: 20px;
          weight: $bold;
        }
        color: $darkgray;
        margin-bottom: 40px;
      }
      dl {
        font-size: 14px;
        line-height: 1.857;
      }
      dt {
        display: inline-block;
        vertical-align: top;
        width: 80px;
        color: $darkgray;
        font-weight: $bold;
      }
      dd {
        display: inline-block;
        width: 380px;
        margin-bottom: 20px;
      }
    }
    .center-info__map {
      border-radius: 5px;
      width: 460px;
      height: 340px;
      margin-bottom: 40px;
    }
  }

  .section-5 {
    .tabs {
      a {
        padding: 16px 0;
        font-size: 16px;
      }
    }
  }

  .container {
    width: 960px;
    margin: 0 auto;
    padding: {
      left: 10px;
      right: 10px;
    }
  }
  .view {
    padding-top: 60px;
  }
  // 게시판 
  .board {
    margin-bottom: 40px;
  }
  .board__head {
    margin-top: 30px;
    padding: 20px 20px 15px 20px;
    h1 {
      font: {
        size: 26px;
      }
      line-height: 1.5384;
    }
    li {
      float: right;
      width: auto;
      margin-left: 40px;
      font: {
        size: 14px;
      }
    }
    li:first-child {
      float: left;
      margin-left: 0;
    }
  }
  .board__body {
    padding: 15px 20px;
  }
  .table {
    .num {
      display: table-cell;
      width: 80px;
      text-align: center;
    }
    .date {
      width: 110px;
    }
    .attachment {
      width: 95px;
    }
  }

  // 푸터
  footer {
    padding: 40px 0;
    font-size: 14px;
  }
  .footer__logo {
    li {
      .logo__pass {
        width: 198px;
        background: {
          size: 198px 21px;
        }
      }
      .logo__seoul {
        width: 111px;
        background: {
          size: 111px 29px;
          position: 0 0;
        }
      }
    }
    a {
      height: 40px;
    }
  }

  // 모달
  .modal {
    max-width: 640px;
    border-radius: 20px;
    h3 {
      font: {
        size: 24px;
      }
      margin: 25px 0 15px 0;
      padding-left: 25px;
    }
  }
  .modal__inside {
    border-radius: 20px;
    padding: 25px;
    p {
      font-size: 14px;
      line-height: 1.875;
    }
  }

  // 컴포넌트 (well)
  .well {
    h5 {
      margin-bottom: 18px !important;
    }
    .well__inside {
      padding: 30px;
      p {
        line-height: 1.87;
        font-size: 16px;
      }
    }
    .well__for-cta {
      @include clearfix;
      .cta__text {
        float: left;
      }
      .btn-group {
        float: right;
      }
    }
  }

  // 컴포넌트 (주석)
  .annotation {
    padding: 20px 30px 10px 30px;
    font-size: 14px;
    .annotation__title {
      padding-left: 26px;
      font-size: 16px;
      height: 20px;
      background: {
        size: 20px;
      }
    }
  }
  .annotation--green {
    .annotation__title {
      background: {
        image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26px' height='26px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(142, 196, 62)' stroke-width='4px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(255, 255, 255)' d='M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z'/%3E%3C/svg%3E");
      }
    }
  }

  // 유틸리티 
  .clearfix {
    @include clearfix;
  }
  .hidden-xs {
    display: block;
  }
}